@using Microsoft.AspNetCore.Mvc.Rendering
@namespace Fenrus.Components.Dialogs

<Modal Title="@Title" Visible="Visible">
    <Head>
        <div class="header">
            <span>@Title</span>
            <input id="@Uid" placeholder="Filter" type="text" @oninput="(e) => Filter = e.Value.ToString()"/>
        </div>
    </Head>
    <Body>
    <div class="icon-picker">
        @{
            string filterText = Filter?.Replace(" ", string.Empty).ToLowerInvariant();
            bool filter = string.IsNullOrWhiteSpace(filterText) == false;

        }
        @foreach (var app in Apps)
        {
            if (filter && app.Name.Replace(" ", string.Empty).ToLowerInvariant().Contains(filterText) == false)
            {
                continue;
            }
            <div class="icon-file @(Value == app.Url ? "selected" : string.Empty)" @onclick="() => SelectItem(app.Url)" @ondblclick="() => SelectItem(app.Url, true)">
                <img title="@app.Name" src="@app.Url"/>
            </div>
        }
    </div>

    </Body>
    <Footer>
        <button class="btn" @onclick=@Close>@lblOk</button>
        <button class="btn" @onclick=@Cancel>@lblCancel</button>
    </Footer>
</Modal>