<%- include('../head.ejs') %>

<% 
    let baseUrl = isSystem ? '/settings/system/search-engines' : '/settings/search-engines';
%> 

<input type="hidden" id="SearchEngine" value="<%= JSON.stringify(model) %>" />

<div class="editor" x-data="SearchEngine">
    <div class="top-row">
        <span class="title">
            <span class="icon-search"></span>
            Search Engine
        </span>
        <span class="buttons">
            <button class="btn" @click="save">Save</button>
            <button class="btn" @click="cancel">Cancel</button>
        </span>
    </div>

    <div class="general settings-box">
        <div class="setting">
            <span class="label">Name</span>
            <span class="value">
                <input :disabled="isDisabled()" autofocus type="text" x-model="model.Name" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="save">
            </span>
        </div>
        <div class="setting">
            <span class="label">URL</span>
            <span class="value">
                <input :disabled="isDisabled()" type="text" x-model="model.Url" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="save">
            </span>
        </div>
        <div class="setting">
            <span class="label">Shortcut</span>
            <span class="value">
                <input :disabled="isDisabled()" type="text" x-model="model.Shortcut" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="save">
            </span>
        </div>
        
        <div class="setting">
            <span class="label">Icon</span>
            <span class="value">
                <div class="item-icon-picker">
                    <template x-if="model.Icon">
                        <img :src="model.Icon" style="width: 100px;height: 100px;object-fit: contain;margin-bottom:1rem" />
                    </template>

                    <template x-if="!model.Icon">
                        <div class="no-image"></div>
                    </template>

                    <button class="btn" id="file-chooser-btn" onclick="document.getElementById('file-chooser').click()">
                        Browse...
                    </button>
                    <input style="display:none" id="file-chooser" class="file-chooser" type="file" accept="image/*" @change="imageChosen">

                </div>
            </span>
        </div>
    </div>
</div>

<script src="/js/settings.js?version=<%= version %>"></script>
<script src="/js/jscolor.min.js"></script>


<script>

    document.addEventListener('alpine:init', () => {
        let json = document.getElementById('SearchEngine').value;
        let model = JSON.parse(json)
        Alpine.data('SearchEngine', () => ({
           model: model, 
           <%- include('../generic-alpine-editor.js') %>
           save() {
                if(!this.validate())
                    return false;
                this.Saved = true;
                    
                const options = {
                    method: 'POST',
                    body: JSON.stringify(this.model),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                this.Saving = true;
                fetch('<%= baseUrl %>/' + encodeURIComponent(this.model.Uid), options).then(res => {
                    if(!res.ok)
                        throw res;
                    this.Saving = false;
                    this.markClean();
                    window.location.href = '<%= baseUrl %>';
                }).catch(err => {
                    console.log(err);
                    toast('Failed to save', false);
                    this.Saving = false;
                });
            }, 
            cancel() {
                this.cancelGoto('<%= baseUrl %>');
            },
            imageChosen(event){
                this.fileToDataUrl(event, src => 
                {
                    this.model.Icon = src;
                    this.validate();
                })
            },                
            fileToDataUrl(event, callback) {
                if (!event.target.files.length) return;

                let file = event.target.files[0];
                let reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = e => callback(e.target.result);
            }
        }))
    });
</script>

<%- include('../foot.ejs') %>