</div>

<script src="/js/site.js?version=<%= version %>" defer></script>
<script src="/js/alpinejs-3.8.1.min.js?version=<%= version %>" defer></script>
<script src="/js/iodine.min.js?version=<%= version %>" defer></script>
<script src="/js/contextmenu.js?version=<%= version %>" defer></script>
<script src="/js/chart.min.js?version=<%= version %>" defer></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>


<% if(theme?.Scripts?.length) { %>
    <input type="hidden" id="theme-settings" value="<%= JSON.stringify(themeSettings) %>" />
    <% for(let script of theme.Scripts) { %>
        <script src="/themes/<%= theme.DirectoryName %>/<%= script %>?version=<%= version %>" defer></script>
 <% }
} %>

</body>

</html>
