</div>

<script src="/js/fenrus.js?version=<%= version %>" defer></script>


<% if(theme?.Scripts?.length) { %>
    <input type="hidden" id="theme-settings" value="<%= JSON.stringify(themeSettings) %>" />
    <% for(let script of theme.Scripts) { %>
        <script src="/themes/<%= theme.DirectoryName %>/<%= script %>?version=<%= version %>" defer></script>
 <% }
} %>

</body>

</html>
