<% if(model?.Items?.length) { %>    
<div id="<%= model.Uid %>" class="db-group <%= model.HideLabels ? 'hide-labels' : '' %>">
    <% if(!model.HideGroupTitle) { %>
        <div class="title">
            <span x-text="model.Name"><%= model.Name %></span>
            <div class="group-controls">
                <span class="move-up fa-solid fa-angle-up" title="Move Up" onclick="moveGroup('<%= model.Uid %>', true)"></span>
                <span class="move-down fa-solid fa-angle-down" title="Move Down" onclick="moveGroup('<%= model.Uid %>', false)"></span>
                <span class="remove-group fa-solid fa-trash" title="Remove Group" onclick="removeGroup('<%= model.Uid %>', )"></span>
            </div>
        </div>
    <% } %>
    
    <div class="items">
        <% for(let item of (model?.Items || {})) {
            if (item) { 
                let type = item._Type === 'Dashboard' ? item._Type : item._Type.substring(9);
                let partialFile = `${type.toLowerCase()}.ejs`;
                let itemModel = { model: item, settings: settings, Utils: Utils, IsUp: IsUp[model.Uid]};
                if(item.Enabled === false)
                    continue;
            %>
                <%- include(partialFile, itemModel ) %>
            <% }
        } %>
    </div>
</div>
    <% if(model.AccentColor) {  
        let accentColor = model ?.AccentColor || '#ff0090';
        var accentRgb = parseInt(accentColor.substring(1, 3), 16) + "," + 
                        parseInt(accentColor.substring(3, 5), 16) + "," + 
                        parseInt(accentColor.substring(5, 7), 16);
    %>
        <style>
            #<%= model.Uid %> {
                --accent-rgb:<%= accentRgb %>;
                --accent:<%= accentColor %>;
            }
        </style>
    <% } %>
<% } %>
