<% 
    let target = model.Target ?? settings.LinkTarget ?? '_self';
%>

<a id="<%= model.Uid %>" title="<%= model.Name %>"
    class="db-item db-link db-basic is-up-<%= model.IsUp %> <%= model.Size || 'medium' %> <%= target === 'IFrame' ? 'iframe' : '' %> is-up-<%= isUp[model.Uid]%>" href="<%= model.Url%>" title="<%= model.Name %>"    
    <% if(target !== 'IFrame') { %>
        onclick="launch(event, '<%= model.Uid %>')" target="<%= target %>"
        <% } else { %> 
            onclick="openIframe(event, '<%= JSON.stringify(model).replace(/'/g, "\\'") %>'); return false;"
        <% } %>
        oncontextmenu="openContextMenu(event, '<%= JSON.stringify(model).replace(/'/g, "\\'") %>'); return false;"
    >
    <div class="inner">
        <div class="icon">
        <img src="<%= model.Icon || '/favicon.svg' %>?version=<%= version %>" />
        </div>
        <div class="content">
            <div class="title"><%= model.Name %></div>
        </div>
        <div class="arrow"></div>
    </div>
</a>