<% 
    let app = AppHelper.get(model.AppName);
    if(!app)
        return; // can happen if the app has been deleted/renamed
    let target = model.Target ?? settings.LinkTarget ?? '_self';
    let title = model.Name ?? model.AppName;
    let interval = app.Interval === -1 ? -1 : (app.Interval ?? 0) * 1000;
    let smartApp = interval > 0 || interval === -1;
    let ssh = !!model.SshServer;
    let docker = !!model.DockerUid;
%>

<% if(app.Css) { %>
    <link rel="stylesheet" href="<%= app.Css %>" />    
<% } %>

<a id="<%= model.Uid %>" title="<%= model.Name %>" class="db-item db-app db-basic is-up-<%= isUp[model.Uid] %>
    <%= smartApp ? 'db-smart' : '' %> <%= model.Size || 'medium' %>
     <%= app.Classes %> <%= app.Carousel && model.Size.indexOf('large') >= 0 ? 'carousel' : '' %>
     <%= target === 'IFrame' ? 'iframe' : '' %>
     <%= ssh ? 'ssh' : '' %>" 
     <%= ssh ? 'x-ssh=1' : '' %>
     <%= docker ? 'docker' : '' %>
     <%= docker ? `x-docker="1"` : '' %>
    href="<%= model.Url%>" 
    <% if(target !== 'IFrame') { %>
    onclick="launch(event, '<%= model.Uid %>')" target="<%= target %>"
    <% } else { %> 
        onclick="openIframe(event, '<%= JSON.stringify(model) %>'); return false;"
    <% } %>
    oncontextmenu="openContextMenu(event, '<%= JSON.stringify(model) %>', ); return false;"
    >
    <div class="inner">
        <div class="icon">
            <img src="<%= model.Icon ? model.Icon : app.Icon ? `/apps/${encodeURIComponent(app.Name)}/${app.Icon}` : '/favicon.svg'%>?version=<%= version %>" />
            <% if(settings.ShowStatusIndicators !== false) { %> 
            <div class="status-indicator"></div>
            <% } %>
        </div>
        <div class="content">
            <div class="title"><%= title %></div>
            <div class="status"></div>
        </div>
        <div class="arrow"></div>
    </div>
</a>


<% if (smartApp) { %>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            LiveApp('<%= app.Name %>', '<%= model.Uid %>', <%= interval %>);
        });
    </script>
<% } %>