<% 
    let app = AppHelper.get(model.AppName);
    let target = settings.LinkTarget ?? '_self';
    let title = model.Name ?? model.AppName;
    let interval = app.Interval === -1 ? -1 : (app.Interval ?? 0) * 1000;
%>

<% if(app.Css) { %>
    <link rel="stylesheet" href="<%= app.Css %>" />    
<% } %>

<a id="<%= model.Uid %>" class="db-item db-app <%= model.Size || 'medium' %> <%= app.Classes %>" href="<%= model.Url%>" onclick="abortRequests()" target="<%= target %>">
    <div class="icon">
       <img src="<%= `/apps/${encodeURIComponent(app.Name)}/${app.Icon}` %>" />
    </div>
    <div class="content">
        <div class="title"><%= title %></div>
        <div class="status"></div>
    </div>
    <div class="arrow"></div>
</a>


<% if (interval > 0 || interval === -1) { %>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            LiveApp('<%= app.Name %>', '<%= model.Uid %>', <%= interval %>);
        });
    </script>
<% } %>