<% 
    let target = model.Target ?? settings.LinkTarget ?? '_self';
%>

<a class="db-item db-link db-basic <%= model.Size || 'medium' %> <%= target === 'IFrame' ? 'iframe' : '' %>" href="<%= model.Url%>" title="<%= model.Name %>"    
    <% if(target !== 'IFrame') { %>
        onclick="launch(event, '<%= model.Uid %>')" target="<%= target %>"
        <% } else { %> 
            onclick="openIframe(event, '<%= JSON.stringify(model) %>'); return false;"
        <% } %>
        oncontextmenu="openContextMenu(event, '<%= JSON.stringify(model) %>'); return false;"
    >
    <div class="inner">
        <div class="icon">
        <img src="<%= model.Icon || '/favicon.svg' %>?version=<%= version %>" />
        </div>
        <div class="content">
            <div class="title"><%= model.Name %></div>
        </div>
        <div class="arrow"></div>
    </div>
</a>