<% 
    let target = settings.LinkTarget ?? '_self';
%>

<a class="db-item db-link db-basic <%= model.Size || 'medium' %>" href="<%= model.Url%>" title="<%= model.Name %>" onclick="launch(event, '<%= model.Uid %>')" target="<%= target %>">
    <div class="inner">
        <div class="icon">
        <img src="<%= model.Icon || '/favicon.svg' %>?version=<%= version %>" />
        </div>
        <div class="content">
            <div class="title"><%= model.Name %></div>
        </div>
        <div class="arrow"></div>
    </div>
</a>