<%- include('../head.ejs') %>

<input type="hidden" id="GroupData" value="<%= JSON.stringify(model) %>" />
<input type="hidden" id="Apps" value="<%= JSON.stringify(apps) %>" />

<div class="editor" x-data="Settings">
    <div class="top-row">
        <span class="title">
            <span class="icon-home"></span>
            Group
        </span>
        <span class="buttons">
            <button id="add-group-item" class="btn" @click="addItem">Add Item</button>
            <button class="btn" @click="save">Save</button>
            <button class="btn" @click="cancel">Cancel</button>
        </span>
    </div>

    <div class="options settings-box">
        <div class="setting">
            <span class="label">Name</span>
            <span class="value">
                <input type="text" x-model="model.Name" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="save"/>
                <span class="help-text">The Name of the group</span>
            </span>
        </div>
        <div class="setting">
            <span class="label">Accent</span>
            <span class="value color-picker">
                <input type="text" x-model="model.AccentColor" data-jscolor="{preset:'dark'}" @blur="blur" @input="input" @keydown.enter="save" />
                <span class="help-text">The general accent colour of the application</span>
            </span>
        </div>
        <div class="setting">
            <span class="label">Show Group Title</span>
            <span class="value">
                <label for="ShowGroupTitle" class="toggle-switchy">
                    <input type="checkbox" id="ShowGroupTitle" x-model="model.ShowGroupTitle" />
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
                <span class="help-text">Whether or not to show the group title.</span>
            </span>
        </div>
        <% if(model.Uid === 'new') { %>
            <div class="setting">
                <span class="label">Add to <%= title === 'System Group' ? 'Guest' : 'Default' %> Dashboard</span>
                <span class="value">
                    <label for="AddToDashboard" class="toggle-switchy">
                        <input type="checkbox" id="AddToDashboard" x-model="model.AddToDashboard" />
                        <span class="toggle">
                            <span class="switch"></span>
                        </span>
                    </label>
                    <span class="help-text">Whether or not to automatically add this group to the <%= title === 'System Group' ? 'Guest' : 'Default' %> dashboard</span>
                </span>
            </div>
        <% } %>
    </div>


    <div class="preview-dashboard ">
        
        <div :class="{'db-group': true, 'hide-labels': model.HideLabels}">
            <template x-if="model.ShowGroupTitle">
                <div class="title"><span x-text="model.Name"></span></div>
            </template>
                
            <div class="items">
                <template x-for="item of model.Items">
                    <a :class="(item.Size || 'medium') + ' db-' + item._Type.substring(9).toLowerCase() + ' db-item db-basic'" :title="item.Name">
                        <div class="inner">
                            <div class="icon">
                                <img :src="(item.Icon || (item.AppName ? `/apps/${encodeURIComponent(item.AppName)}/app.png` : '/favicon.svg')) + '?version=<%= version %>'" />
                            </div>
                            <div class="content">
                                <div class="title" x-text="item.Name"></div>
                                <div class="status"></div>
                            </div>
                            <div class="arrow"></div>
                            <div class="actions">
                                <span title="Move Up" class="edit" @click="move(item, true)">
                                    <span class="icon-arrow-up"></span>
                                </span>
                                <span title="Move Down" class="edit" @click="move(item, false)">
                                    <span class="icon-arrow-down"></span>
                                </span>
                                <span title="Edit" class="edit" @click="editItem(item)">
                                    <span class="icon-edit"></span>
                                </span>
                                <span title="Copy" class="copy" @click="copy(item)">
                                    <span class="icon-copy"></span>
                                </span>
                                <span title="Delete" class="delete" @click="remove(item)">
                                    <span class="icon-trash"></span>
                                </span>
                            </div>
                        </div>
                    </a>
                </template>
            </div>
        </div>
            
    </div>
    <%- include('./item-editor.ejs') %>
    <%- include('./copy-dialog.ejs') %>

</div>


<script src="/js/settings.js?version=<%= version %>"></script>
<script src="/js/jscolor.min.js"></script>


<script>

    document.addEventListener('alpine:init', () => {
        
        <%- include('./editor.alpine.js') %>
        <%- include('./item-editor.alpine.js') %>

        
    });
</script>

<%- include('../foot.ejs') %>