@namespace Fenrus.Components

<div class="settings panel">
    @if(Dashboards?.Any() == true) 
    {
        <div class="setting">
            <span class="label">Dashboard</span>
            <span class="value">
                <JavaScriptSelect Value="@Dashboard.Uid.ToString()" 
                                  Options="@Dashboards.Select(x => x.Uid.ToString()).ToArray()"
                                  Labels="@Dashboards.Select(x => x.Name).ToArray()"
                                  Code="UpdateSetting('Dashboard', event)" />
            </span>
        </div>
    }
    
    <div class="setting">
        <span class="label">Theme</span>
        <span class="value">
            <JavaScriptSelect Value="@Theme?.Name" 
                              Options="@Themes.ToArray()"
                              Code="UpdateSetting('Theme', event)" />
        </span>
    </div>
    
    <div class="setting">
        <span class="label">Link Target</span>
        <span class="value">
            <JavaScriptSelect Value="@Settings.LinkTarget" 
                              Options="@(new [] { "_self", "_this", "home-portal"})"
                              Labels="@(new [] { "Open in this tab", "Open in new tab", "Open in same tab"})"
                              Code="UpdateSetting('LinkTarget', event)" />
        </span>
    </div>
    <div class="setting">
        <span class="label">Accent Color</span>
        <span class="value">
            <JavaScriptColorPicker Value="@Dashboard.AccentColor" Code="ChangeAccentColor(event, color)" PageHelper=@PageHelper />
        </span>
    </div>
    <div class="setting">
        <span class="label">Background</span>
        <span class="value">
            <JavaScriptSelect Value="@Dashboard.Background" 
                              Options="@Helpers.BackgroundHelper.GetBackgroundValues()"
                              Labels="@Helpers.BackgroundHelper.GetBackgroundNames()"
                              Code="ChangeBackground(event)" />
        </span>
    </div>
    <div class="setting">
        <span class="label">Background Color</span>
        <span class="value">
            <JavaScriptColorPicker Value="@Dashboard.BackgroundColor" Code="ChangeBackgroundColor(event, color)" PageHelper=@PageHelper />
        </span>
    </div>
    <div class="setting">
        <span class="label">Group Titles</span>
        <span class="value">
            <JavaScriptSwitch Value="Settings.ShowGroupTitles" Code="UpdateSetting('ShowGroupTitles', event)" />
        </span>
    </div>
    <div class="setting">
        <span class="label">Status Indicators</span>
        <span class="value">
            <JavaScriptSwitch Value="Settings.ShowStatusIndicators" Code="UpdateSetting('ShowStatusIndicators', event)" />
        </span>
    </div>
</div>