<%- include('./partials/head.ejs' ) %>

<% if(theme.Head) {    
    let themeHead = `${theme.Directory}/${theme.Head}`;
%>
<%- include(themeHead) %>
<% } %>

<div id="dashboard-name">
    <% if(isGuest) { %>
        <%= dashboard.Name === 'Default' ? '' : dashboard.Name %>
    <% } else { %> 
    <div class="dashboard-dropdown">
        <button><%= dashboard.Name %></button>
        <div>
            <% 
            let dbs = settings.Dashboards.filter(x => x.Name != dashboard.Name);
            dbs.sort((a, b) => a.Name.localeCompare(b.Name));
            for(let db of dbs) { %>
                    <a href="#" onclick="changeDashboard('<%= db.Uid %>');return false;"><%= db.Name %></a>
            <% } %>
        </div>
    </div>
    <% } %>
</div>
<div x-uid="<%= dashboard.Uid %>" 
    class="dashboard <%= themeVariables?.ClassName %> <%= settings.ShowGroupTitles === false ? 'hide-group-titles' : '' %> <%= settings.ShowStatusIndicators ? 'status-indicators' : '' %>"
    oncontextmenu="openDefaultContextMenu(event); return false">    
    <%- include('dashboard.ejs') %>
    
</div>
<%- include('./partials/up-time.ejs') %>
<div id="launching-app">
    <div class="inner">
        <span class="icon"><img /></span>
        <span class="title"></span>
    </div>
</div>
<script src="/js/smartapp.js?version=<%= version %>" defer></script>
<%- include('./partials/footer.ejs') %>