<%- include('./partials/head.ejs' ) %>

<div class="dashboard <%= themeVariables?.ClassName %>">
    <% if(settings.Groups?.length) {
        
        for(let item of settings.Groups)
        {
            if (item && item.Enabled !== false){ 
                let type = item._Type.substring(9)
                let partialFile = '';
                let itemModel = { model: item, settings: settings, Utils: Utils};
                if(theme && theme.Templates[type]){
                    partialFile = `${theme.Directory}/${theme.Templates[type]}`;
                    itemModel.partialDir = '../../../views/partials/dashboard'; // so theme templates can just refer to partialDir for the dir
                }
                else
                    partialFile = `./partials/dashboard/${type.toLowerCase()}.ejs`;
                %>
                <%- include(partialFile, itemModel ) %>
                <%
            }
        }

    } else { %>
        <div class="no-dashboard">
            No items configured
        </div>
    <% } %>
</div>

<% if(theme?.Scripts?.length) { %>
    <input type="hidden" id="theme-settings" value="<%= JSON.stringify(themeSettings) %>" />
    <% for(let script of theme.Scripts) { %>
        <script src="/themes/<%= theme.DirectoryName %>/<%= script %>?version=<%= version %>"></script>
 <% }
} %>


<%- include('./partials/footer.ejs') %>