<%- include('./partials/head.ejs' ) %>

<% if(theme.Head) {    
    let themeHead = `${theme.Directory}/${theme.Head}`;
%>
<%- include(themeHead) %>
<% } %>

<div id="dashboard-name"><%= dashboard.Name === 'Default' ? '' : dashboard.Name %></div>

<div class="dashboard <%= themeVariables?.ClassName %> <%= settings.ShowGroupTitles === false ? 'hide-group-titles' : '' %>">    
    <%- include('dashboard.ejs') %>
</div>

<%- include('./partials/footer.ejs') %>