<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg?version=<%= version %>">
    <title>Fenrus</title>
    <link rel="stylesheet" href="/css/site.min.css?version=<%= version %>" />
    <link id="theme-style" rel="stylesheet" href="/themes/Default/_theme.css?version=<%= version %>" />
    <link rel="stylesheet" href="/css/login.css?version=<%= version %>" />

    <style>
        .message-box {
            width:min(30rem, 70vw);
            margin:auto;
            border-radius: 0.5rem;
            text-align: center;
            background:rgba(0,0,0, 0.7);
            padding:2rem;
        }
        .message-wrapper {
            margin-top:3rem;
        }
        .link
        {
            margin-top:1rem;         
        }
        .link  a {
            color:white;   
        }
    </style>
</head>

<body class="logged-out no-custom-background animate-background">
    <div class="bg bg1"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="main-content">

        <div class="message-box">
            <div class="header">
                <span class="logo">
                    <img src="/favicon.svg?version=<%= version %>" />
                </span>
                <span class="title">Fenrus</span>
            </div>
            <div class="message-wrapper">
                <div class="message">
                    You have been logged out.
                </div>
        
                <div class="link">
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
