<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg?version=<%= version %>">
    <% if(title) { %>
        <title>Fenrus - <%= title %></title>
    <% } else { %>
        <title>Fenrus</title>
    <% } %>
    <link rel="stylesheet" href="/css/_fenrus.css?version=<%= version %>" />
    <link id="theme-style" rel="stylesheet" href="/themes/Default/_theme.css?version=<%= version %>" />
</head>

<body class="no-custom-background animate-background login-page">
    <div class="bg bg1"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="main-content">
        <div class="login-box" x-data="Login">
            <div class="header">
                <span class="logo">
                    <img src="/favicon.svg?version=<%= version %>" />
                </span>
                <span class="title">Fenrus</span>
            </div>
            <template x-if="error">
                <div class="error">
                    <span x-text="error"></span>
                </div>
            </template>
            <div class="field">
                <span class="label">Username</span>
                <span class="value">
                    <input type="text" x-model="model.Username" autofocus data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="login" />
                </span>
            </div>
            <div class="field">
                <span class="label">Password</span>
                <span class="value">
                    <input type="password" x-model="model.Password" data-rules='["required"]' @blur="blur" @input="input" @keydown.enter="login" />
                </span>
            </div>
            <div class="buttons">
                <button class="btn" @click="login">Login</button>
                <% if(allowGuest) { %>
                <button class="btn" @click="guest">Guest</button>
                <% } %>
            </div>
        </div>
    </div>

    <script src="/js/_fenrus.js?version=<%= version %>" defer></script>

    <script>

        document.addEventListener('alpine:init', () => {
            Alpine.data('Login', () => (
            {
                error: '',
                model: { Username: '', Password: '' },   
                blur(){
                    this.validate();
                },
                input(){
                    this.validate();
                },
                validate() {
                    this.error = '';
                    let inputs = [...document.querySelectorAll(`.settings-box [data-rules]`)];
                    let valid = true;
                    inputs.map((input) => {
                        if (Iodine.is(input.value, JSON.parse(input.dataset.rules)) !== true) {
                            valid = false;
                            input.classList.add("invalid");
                        }else{
                            input.classList.remove("invalid");
                        }
                    });
                    return valid;
                },
                login() {          
                    this.doLoginRegister(false);
                },
                register(){
                    this.doLoginRegister(true);
                },
                guest() {
                    window.location.href = '/';
                },
                doLoginRegister(register){
                    if(!this.validate())
                        return;
                        
                    const options = {
                        method: 'POST',
                        body: JSON.stringify({ username: this.model.Username, password: this.model.Password, register: register} ),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    };

                    fetch('/login', options).then(res => res.json()).then((res)=>{       
                        if(res.error)
                            this.error = res.error;
                        else if(res.success)
                            window.location.href = '/';
                    });

                }
            }))
        });
    </script>
</body>
</html>
