<%- include('./partials/head.ejs' ) %>

<% 
    var urlPrefix = guestSettings ? '/system/guest' : '/search-engines';
    var urlGroupUrl = guestSettings ? '/system/guest' : '/search-engines';
%> 

<link rel="stylesheet" href="/css/settings.min.css?version=<%= version %>" />

<div class="search-engines settings-box" x-data="SearchEngines">    
    <div class="header">
        <span class="title">Search Engines</span>
        <div class="buttons">
            <a class="btn add" href="<%= urlPrefix %>/<%= Utils.newGuid() %>">Add</a>
        </div>
    </div>
    <ul class="search-engine-list contains-toggle">
        <li class="list-header">
            <span class="name">Name</span>
            <span class="default">Default</span>
            <span class="enabled">Enabled</span>
            <span class="controls"></span>
        </li>
        <% for(let item of settings.SearchEngines) { 
            if(!item)
                continue;
            let itemCount = item.Items?.length || 0;
            let items = itemCount == 1 ? "1 Item" : itemCount + " Items";    
        %>
        <li id="<%= item.Uid%>"> 
            <span class="name"><%= item.Name %></span>
            <span class="default">                
                <label for="<%= item.Uid %>Default" class="toggle-switchy">
                    <input type="checkbox" id="<%= item.Uid %>Default" class="is-default" <%= item.IsDefault === true ? "checked" : "" %> @change="setDefault('<%= item.Uid %>', event.target.checked)" />
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </span>
            <span class="enabled">                
                <label for="<%= item.Uid %>Enabled" class="toggle-switchy">
                    <input type="checkbox" id="<%= item.Uid %>Enabled" <%= item.Enabled !== false ? "checked" : "" %> @change="setStatus('<%= item.Uid %>', event.target.checked)" />
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </span>
            <span class="controls">
                <a title="Edit" class="icon-edit" href="<%= urlPrefix %>/<%= item.Uid %>"></a>
                <span title="Delete" class="icon-trash" @click="delete('<%= item.Uid %>')"></span>
            </span>
        </li>
        <% } %>
    </ul>
</div>

<script src="/js/settings.js?version=<%= version %>"></script>


<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('SearchEngines', () => ({
            delete(uid) {
                let name = document.getElementById(uid).querySelector('.name').innerText;
                confirmPrompt(`Are you sure you want to delete the search engine "${name}"?`).then(() => 
                {
                    fetch('<%= urlPrefix %>/' + encodeURIComponent(uid), { method: 'DELETE'}).then(()=>{
                        document.getElementById(uid).remove(); 
                    });
                }).catch(err => {});
            },
            setStatus(uid, enabled){
                fetch('<%= urlPrefix %>/' + encodeURIComponent(uid) + '/status/' + (enabled === true), { method: 'POST'});
            },
            setDefault(uid, checked){
                console.log('uid', uid);
                for(let li of document.querySelectorAll('.search-engine-list li')){
                    if(li.getAttribute('id') === uid)
                        continue;
                    let eleIsDefault = li.querySelector('.is-default');
                    if(!eleIsDefault)
                        continue;
                    console.log('li', li, eleIsDefault);
                    eleIsDefault.checked = false;
                }
                fetch('<%= urlPrefix %>/' + encodeURIComponent(uid) + '/default/' + (checked === true), { method: 'POST'});
            }
        }))
    });
</script>

<%- include('./partials/footer.ejs') %>