<%- include('./partials/head.ejs' ) %>

<link rel="stylesheet" href="/css/settings.min.css?version=<%= version %>" />

<input type="hidden" id="SystemData" value="<%= system.toJson(true) %>" />

<div class="general settings-box" x-data="System">
    <div class="header">
        <span class="title">System</span>
        <div class="buttons">
            <button class="btn" @click="searchEngines" style="width:12rem"> Search Engines</button>
            <button class="btn" @click="save">Save</button>
        </div>
    </div>
    <div class="setting">
        <span class="label">Allow Registrations</span>
        <span class="value">
            <label for="AllowRegister" class="toggle-switchy">
                <input type="checkbox" id="AllowRegister" x-model="model.AllowRegister" />
                <span class="toggle">
                    <span class="switch"></span>
                </span>
            </label>
        </span>
    </div>
    <div class="setting">
        <span class="label">Allow Guest</span>
        <span class="value">
            <label for="AllowGuest" class="toggle-switchy">
                <input type="checkbox" id="AllowGuest" x-model="model.AllowGuest" />
                <span class="toggle">
                    <span class="switch"></span>
                </span>
            </label>
            <template x-if="model.AllowGuest">
                <button style="display:block;margin-top:1rem" class="btn" @click="editGuest">Configure</button>
            </template>
        </span>
    </div>
</div>

<script src="/js/settings.js?version=<%= version %>"></script>


<script>

    document.addEventListener('alpine:init', () => {
        let json = document.getElementById('SystemData').value;
        let system = JSON.parse(json)
        Alpine.data('System', () => ({
           model: system, 
           searchEngines() {
                window.location = '/system/search-engines';
           },
           validate() {
                let inputs = [...document.querySelectorAll(`.settings-box [data-rules]`)];
                let valid = true;
                inputs.map((input) => {
                    if (Iodine.is(input.value, JSON.parse(input.dataset.rules)) !== true) {
                        valid = false;
                        input.classList.add("invalid");
                    }else{
                        input.classList.remove("invalid");
                    }
                });
                return valid;
           },
           save() {
                if(!this.validate())
                    return false;
                    
                const options = {
                    method: 'POST',
                    body: JSON.stringify(this.model),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
                fetch('/system', options);
                return true;
            },
            editGuest() {
                if(!this.save())
                    return;
                window.location.href = '/system/guest';                
            }
        }))
    });
</script>

<%- include('./partials/footer.ejs') %>