<%- include('./partials/head.ejs' ) %>

<link rel="stylesheet" href="/css/settings.min.css" />
<link rel="stylesheet" href="/css/toggle-switchy.css" />

<div class="users settings-box" x-data="Users">
    <div class="header">
        <span class="title">Users</span>
    </div>
    <ul class="user-list contains-toggle">
        <li class="list-header">
            <span class="name">Name</span>
            <span class="is-admin">Admin</span>
            <span class="controls"></span>
        </li>
        <% for(let item of users) { 
            if(!item)
                continue;
            let isSelf = item.Uid == user.Uid;
        %>
        <li id="<%= item.Uid %>"> 
            <span class="name"><%= item.Username %></span>
            <span class="is-admin">                
                <label for="is-admin-<%= item.Uid %>" class="toggle-switchy">
                    <input type="checkbox" id="is-admin-<%= item.Uid %>" <%= isSelf ? 'disabled' : '' %> <%= item.IsAdmin ? 'checked' : '' %> @change="adminChange(event, '<%= item.Uid %>')" />
                    <span class="toggle">
                        <span class="switch"></span>
                    </span>
                </label>
            </span>
            <span class="controls">
                <% if (isSelf === false) { %>
                    <button class="btn" @click="deleteUser('<%= item.Uid %>', '<%= item.Username%>')">Delete</button>
                <% } %>
            </span>
        </li>
        <% } %>
    </ul>
</div>

<script src="/js/settings.js"></script>
<script src="/js/jscolor.min.js"></script>
<script src="/js/alpinejs-3.8.1.min.js" defer></script>
<script src="/js/iodine.min.js" defer></script>


<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('Users', () => ({
            adminChange(event, uid) {        
                fetch(`/users/${uid}/set-admin/${event.target.checked}`);
            },
            
            deleteUser(uid, name) {
                console.log('deleting', uid, name);
                confirmPrompt(`Are you sure you want to delete the user "${name}"?`).then(() => 
                {
                    fetch(`/users/${uid}`, { method: 'DELETE'}).then(()=>{
                        document.getElementById(uid).remove(); 
                    });
                }).catch(err => {

                });
            }
        }))
    });
</script>

<%- include('./partials/footer.ejs') %>