@namespace Fenrus.Components

<div id="notes-wrapper" class="collapsed">
    <div class="expander" onclick="notesToggle()">
        <i class="fa-solid fa-chevron-right"></i>
        <span>@lblTitle</span>
    </div>
    <div class="notes-inner">
        <div class="content" id="notes-list">
        </div>
        <div class="btn-new-note" onclick="notesAdd()">
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="notes-tabs">
            <div id="nt-personal" onclick="notesSelectTab('nt-personal')" class="note-tab">@lblPersonal</div>
            <div id="nt-dashboard" onclick="notesSelectTab('nt-dashboard')" class="note-tab">@lblDashboard</div>
            <div id="nt-shared" onclick="notesSelectTab('nt-shared')" class="note-tab">@lblShared</div>
            <div id="nt-media" onclick="notesSelectTab('nt-media')" class="note-tab">@lblMedia</div>
        </div>
    </div>
</div>