<%- include('../head.ejs') %>

<div x-data="Users">
    <div class="top-row">
        <span class="title">
            <span class="fa-solid fa-user-group"></span>
            Users
        </span>
        <span class="allow-register-label">Allow Registrations:</span>
        <span class="enable">                
            <label for="allow-register" class="toggle-switchy">
                <input type="checkbox" id="allow-register" <%= allowRegister ? 'checked' : '' %> @change="allowRegisterChange(event)" />
                <span class="toggle">
                    <span class="switch"></span>
                </span>
            </label>
        </span>
    </div>

    <div class="list">
            
        <table>
            <thead>
                <tr>
                    <th class="name">Name</th>
                    <th class="admin switch">Admin</th>
                    <th class="controls"></th>
                </tr>
            </thead>
            <tbody>
                <% for (let item of users) { 
                    if(!item)
                        continue;
                    let isSelf = item.Uid == user.Uid;
                %>
                    <tr id="<%= item.Uid %>">
                        <td class="name">
                            <%= item.Username %>
                        </td>
                        <td class="admin switch">               
                            <label for="is-admin-<%= item.Uid %>" class="toggle-switchy">
                                <input type="checkbox" id="is-admin-<%= item.Uid %>" <%= isSelf ? 'disabled' : '' %> <%= item.IsAdmin ? 'checked' : '' %> @change="adminChange(event, '<%= item.Uid %>')" />
                                <span class="toggle">
                                    <span class="switch"></span>
                                </span>
                            </label>
                        </td>   
                        <td class="controls">  
                            <% if (isSelf === false) { %>              
                                <span title="Delete" class="fa-solid fa-trash" @click="deleteUser('<%= item.Uid %>', '<%= item.Username%>')"></span>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>


<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('Users', () => ({
            adminChange(event, uid) {        
                fetch(`/settings/users/${uid}/set-admin/${event.target.checked}`).then(async (res) =>{
                    if(!res.ok)
                        throw await res.text();
                    toast(`Successfully updated user`, true);
                }).catch(err => {
                    toast(err || 'Failed to update user', false);
                });
            },

            allowRegisterChange(event) {        
                fetch(`/settings/users/set-allow-register/${event.target.checked}`).then(async (res) =>{
                    if(!res.ok)
                        throw await res.text();
                    toast(`Updated Successfully`, true);
                }).catch(err => {
                    toast(err || 'Failed to update', false);
                });
            },
            
            deleteUser(uid, name) {
                console.log('deleting', uid, name);
                confirmPrompt(`Are you sure you want to delete the user "${name}"?`).then(() => 
                {
                    fetch(`/settings/users/${uid}`, { method: 'DELETE'}).then(async (res) =>{
                        if(!res.ok)
                            throw await res.text();
                        document.getElementById(uid).remove(); 
                        toast(`Successfully deleted user`, true);
                    }).catch(err => {
                        toast(err || 'Failed to delete user', false);
                    });
                }).catch(err => {

                });
            }
        }))
    });
</script>

<%- include('../foot.ejs') %>