<a id="@Model.Uid" title="@Model.Name" href="@Model.Url" onclick="@OnClickCode" target="@Target" x-monitor="@(Model.Monitor ? "1" : null)"
   class="db-item db-link db-basic @Css @Model.Size.ToString().ToLower() @(Target == "IFrame" ? "iframe" : string.Empty)"
   oncontextmenu="@(IsGuest ? string.Empty : $"openContextMenu(event, '{SerializedJsSafeModel}'); return false;")"
>
<div class="inner">
    <div class="icon">
        <img src="@GetIcon()" />
    </div>
    <div class="content">
        <div class="title">@Model.Name</div>
    </div>
    <div class="arrow"></div>
</div>
</a>