<a id="@Model.Uid" title="@Model.Name" onclick="@OnClickCode" 
   class="db-item db-link db-basic @Model.Size.ToString().ToLower() @(Target == "IFrame" ? "iframe" : string.Empty)"
   oncontextmenu="openContextMenu(event, '@SerializedJsSafeModel'); return false;"
>
    <div class="inner">
        <div class="icon">
            <img src="@GetIcon()" />
        </div>
        <div class="content">
            <div class="title">@Model.Name</div>
        </div>
        <div class="arrow"></div>
    </div>
</a>