@namespace Fenrus.Components
@inherits Fenrus.Pages.CommonPage<Fenrus.Models.SearchEngine>

<FenrusPage Title="@lblTitle" Icon="fa-solid fa-magnifying-glass" PageDescription="@lblDescription">
    <Body>
    
    <FenrusTable TItem="Models.SearchEngine" Data=@Items @ref="Table">
        <ToolBar>
            <FenrusTableButton Label="@lblAdd" Icon="fa-solid fa-plus" Clicked="() => Add()" />
        </ToolBar>
        <Columns>
            <FenrusTableColumn TItem="Models.SearchEngine" ColumnName="Name">
                <Header>@lblName</Header>
                <Cell Context="item">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="#" @onclick="() => Edit(item)" @onclick:preventDefault="true">@item.Name</a>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.SearchEngine" ColumnName="IsDefault" Width="10rem">
                <Header>@lblDefault</Header>
                <Cell Context="item">
                    <FenrusSwitch Value="@item.IsDefault" ValueChanged="(value) => SetDefault(item, value)"></FenrusSwitch>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.SearchEngine" ColumnName="Enabled" Width="10rem">
                <Header>@lblEnabled</Header>
                <Cell Context="item">
                    <FenrusSwitch Value="@item.Enabled" ValueChanged="(value) => SetEnabled(item, value)"></FenrusSwitch>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.SearchEngine" ColumnName="Actions" Width="10rem">
                <Header></Header>
                <Cell Context="item">
                    <div class="actions">
                        <a title="@lblEdit" class="fa-solid fa-pen-to-square" @onclick="() => Edit(item)"></a>
                        <span title="@lblDelete" class="fa-solid fa-trash" @onclick="() => Remove(item)"></span>
                    </div>
                </Cell>
            </FenrusTableColumn>
        </Columns>
    </FenrusTable>
        
    </Body>
</FenrusPage>