@namespace Fenrus.Components

<div id="fdrive-wrapper" class="collapsed">
    <div class="expander" onclick="fDriveDrawer.toggle()">
        <i class="fa-solid fa-chevron-right"></i>
        <span><i class="fa-solid fa-hard-drive"></i> Drive</span>
    </div>
    <div class="fdrive-inner">
        <div class="fdrive-modes">
            <div id="fdrive-notes">
                <div class="fdrive-pane-title">
                    <div id="nt-personal" onclick="fDriveNotes.selectTab('nt-personal')">@lblPersonal</div>
                    <div id="nt-dashboard" onclick="fDriveNotes.selectTab('nt-dashboard')">@lblDashboard</div>
                    <div id="nt-shared" onclick="fDriveNotes.selectTab('nt-shared')">@lblShared</div>
                </div>
                <div class="content" id="notes-list">
                </div>
                <div class="fdrive-add-button">
                    <i class="fa-solid fa-plus" onclick="fDriveNotes.add()"></i>
                </div>
            </div>

            <div id="fdrive-files">
                <div class="fdrive-pane-title">
                    <span class="title">@lblFiles</span>

                    <div id="files-check-all">
                        <input type="checkbox" onchange="fDrive.checkAll(event.target.checked)" />
                    </div>

                    <div class="view-mode">
                        <i class="fa-solid fa-trash" onclick="fDrive.deleteFiles()"></i>
                        <i class="view-list fa-solid fa-list" onclick="fDrive.changeView('list')"></i>
                        <i class="view-thumbnail fa-solid fa-table-cells-large" onclick="fDrive.changeView('thumbnail')"></i>
                    </div>
                </div>
                <div class="content" id="fdrive-list">
                </div>
                <div class="fdrive-add-button">
                    <ul id="fdrive-add-menu">
                        <li onclick="fDrive.add('folder')"><i class="fa-solid fa-folder-plus"></i>New Folder</li>
                        <li class="separator"></li>
                        <li onclick="fDrive.add('note')"><i class="fa-regular fa-file-lines"></i>New Note</li>
                        <li class="separator"></li>
                        <li onclick="fDrive.add('upload')"><i class="fa-solid fa-upload"></i>Upload File</li>
                    </ul>
                    <i class="fa-solid fa-plus" onclick="fDrive.addClicked()"></i>
                </div>
            </div>
            
            <div id="fdrive-calendar">
                <div class="fdrive-pane-title">
                    <span class="title">@lblCalendar</span>
                </div>
                <div class="content" id="calendar-actual">
                </div>
                <div class="fdrive-add-button">
                    <i class="fa-solid fa-plus" onclick="fDriveCalendar.add(event)"></i>
                </div>
            </div>
        </div>

        <div class="fdrive-tabs">
            <div id="fdrive-mode-notes" onclick="fDriveDrawer.setMode('notes')" class="fdrive-mode">@lblNotes</div>
            <div id="fdrive-mode-files" onclick="fDriveDrawer.setMode('files')" class="fdrive-mode">@lblFiles</div>
            <div id="fdrive-mode-calendar" onclick="fDriveDrawer.setMode('calendar')" class="fdrive-mode">@lblCalendar</div>
        </div>
    </div>
</div>