@namespace Fenrus.Components

<div id="fdrive-wrapper" class="dashboard-drive collapsed">
    <div class="expander" onclick="fDriveDrawer.toggle()">
        <i class="fa-solid fa-chevron-right"></i>
        <span><i class="fa-solid fa-hard-drive"></i> Drive</span>
    </div>
    <div class="resizer"></div>
    <div class="fdrive-inner">
        <div class="fdrive-modes">
            <div id="fdrive-notes">
                <div class="fdrive-pane-title">
                    <div id="nt-personal" onclick="fDriveNotes.selectTab('nt-personal')">@lblPersonal</div>
                    <div id="nt-dashboard" onclick="fDriveNotes.selectTab('nt-dashboard')">@lblDashboard</div>
                    <div id="nt-shared" onclick="fDriveNotes.selectTab('nt-shared')">@lblShared</div>
                </div>
                <div class="content" id="notes-list">
                </div>
                <div class="fdrive-add-button">
                    <i class="fa-solid fa-plus" onclick="fDriveNotes.add()"></i>
                </div>
            </div>

            <div id="fdrive-files">
                <div class="fdrive-pane-title">
                    <div id="fdrive-files-address"></div>
                    <div class="toolbar"></div>
                </div>
                <div class="content" id="fdrive-list">
                </div>
                <div class="fdrive-add-button">
                    <ul id="fdrive-add-menu">
                        <li onclick="fDrive.add('folder')"><i class="fa-solid fa-folder-plus"></i>New Folder</li>
                        <li class="separator"></li>
                        <li onclick="fDrive.add('upload')"><i class="fa-solid fa-upload"></i>Upload File</li>
                    </ul>
                    <i class="fa-solid fa-plus" onclick="fDrive.addClicked()"></i>
                </div>
            </div>
            
            <div id="fdrive-calendar">
                <div class="fdrive-pane-title">
                    <span class="title">@lblCalendar</span>
                </div>
                <div class="content" id="calendar-actual">
                </div>
                <div class="fdrive-add-button">
                    <i class="fa-solid fa-plus" onclick="fDriveCalendar.add(event)"></i>
                </div>
            </div>
            
            <div id="fdrive-email">
                <div class="fdrive-pane-title">
                    <span class="title">@lblEmail</span>
                </div>
                <div class="content" id="email-actual">
                </div>
            </div>
        </div>

        <div class="fdrive-tabs" id="fdrive-tabs">
        </div>
    </div>
</div>