@page "/settings/system/users"
@namespace Fenrus.Pages
@inherits CommonPage<Fenrus.Models.User>

<PageTitle>Fenrus - @lblTitle</PageTitle>

<FenrusPage Title="@lblTitle" Icon="fa-solid fa-user-group" PageDescription="@lblDescription">
    <Buttons>
        <div class="allow-register">
            <span class="label allow-register-label">@lblAllowRegistrations:</span>
            <FenrusSwitch @bind-Value="AllowRegistrations" />
        </div>
    </Buttons>
    <Body>

    <FenrusTable @ref=Table TItem="Models.User" Data=@Items>
        <Columns>
            <FenrusTableColumn TItem="Models.User" ColumnName="Name">
                <Header>@lblName</Header>
                <Cell Context="item">
                    <i class="fa-solid fa-user"></i>
                    <span>@item.Name</span>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.User" ColumnName="Admin" Width="10rem">
                <Header>@lblAdmin</Header>
                <Cell Context="item">
                    <FenrusSwitch Value="item.IsAdmin" Disabled="IsSelf(item)" ValueChanged="(value) => AdminUpdated(item, value)"></FenrusSwitch>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.User" ColumnName="Actions" Width="10rem">
                <Header></Header>
                <Cell Context="item">
                    @if (IsSelf(item) == false)
                    {
                        // only allow deleting of other users, they cannot delete themselves
                        <div class="actions">
                            <span title="@lblDelete" class="fa-solid fa-trash" @onclick="() => Remove(item)"></span>
                        </div>
                    }
                </Cell>
            </FenrusTableColumn>
        </Columns>
    </FenrusTable>

    </Body>
</FenrusPage>