@page "/settings/about"
@inherits UserPage

<PageTitle>Fenrus - @lblTitle</PageTitle>

<FenrusPage Title="@lblTitle" Icon="fa-solid fa-sliders">
    <Buttons>
        <button class="btn" @onclick="() => ImportConfig()">@lblImportConfig</button>
    </Buttons>
    <Body>
    
    <InputLabel Label="Author" Value="John Andrews" />
    <InputLabel Label="Version" Value="@Globals.Version" />
    <InputLabel Label="Website" Value="https://github.com/revenz/fenrus" Link="true" Target="_blank" />
    
    
    </Body>
</FenrusPage>

@if (Importing)
{
    <div class="importing">
        <span>@lblImporting</span>
    </div>
}

<Fenrus.Components.Dialogs.FileInputDialog @ref="FileInputDialog" Translater="Translater" />