<HeadContent>
    <style>
    body {
        --accent-rgb:@AccentRgb;
        --accent:@AccentColor;
    }
    </style>
</HeadContent>

<CascadingValue Value="this" IsFixed="true">
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingValue>

<Fenrus.Components.Dialogs.Confirm />
<BlazoredToasts IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                RemoveToastsOnNavigation="true" />