@page "/settings"
@inherits UserPage

<PageTitle>Fenrus - General Settings</PageTitle>

<FenrusPage Title="General Settings" Icon="fa-solid fa-sliders">
    <Buttons>
        <button class="btn" type="submit" @onclick="@Save">Save</button>
        <button class="btn">Import</button>
        <button class="btn">Export</button>
    </Buttons>
    <Body>
        <InputSelect TItem="string" Label="Theme" @bind-Value="@Model.Theme" Help="Your personal theme to use.">
            <InputSelectOption TItem="string"StringValue="Default" Label="Default" />
            <InputSelectOption TItem="string"StringValue="Basic" Label="Basic" />
            <InputSelectOption TItem="string"StringValue="Heimdall" Label="Heimdall" />
        </InputSelect>
        <InputSelect TItem="string" Label="Link Target" @bind-Value="@Model.LinkTarget" Help="Where the shortcuts will open to.">
            <InputSelectOption TItem="string" StringValue="_self" Label="Open in this tab" />
            <InputSelectOption TItem="string" StringValue="_blank" Label="Open in new tab" />
            <InputSelectOption TItem="string" StringValue="home-portal" Label="Open in same tab" />
        </InputSelect>
        <InputColor Label="Accent" @bind-Value="@Model.AccentColor" Help="The general accent colour of the application"></InputColor>
        <InputSwitch Label="Group Titles" @bind-Value="@Model.GroupTitles" Help="When off group titles will globally turned off regardless of the individual group setting."></InputSwitch>
        <InputSwitch Label="Status Indicators" @bind-Value="@Model.ShowIndicators" Help="If status indicators should be shown on the applications if available.  For example 'Update Available' etc."></InputSwitch>
        <InputImage Label="Background" @bind-Value="@Background" InitialImage="@InitialImage" Reset="true"></InputImage>
    </Body>
</FenrusPage>