@page "/settings/dashboards"
@inherits CommonPage<Models.Dashboard>

<PageTitle>Fenrus - @lblTitle</PageTitle>

<FenrusPage Title="@lblTitle" Icon="fa-solid fa-table-cells-large" PageDescription="@lblDescription">
    <Body>
    
    <FenrusTable TItem="Models.Dashboard" Data=@Items>
        <ToolBar>
            <FenrusTableButton Label="@lblAdd" Icon="fa-solid fa-plus" Clicked="() => Add()" />
        </ToolBar>
        <Columns>
            <FenrusTableColumn TItem="Models.Dashboard" ColumnName="Name">
                <Header>@lblName</Header>
                <Cell Context="item">
                    <i class="fa-solid fa-table-cells-large"></i>
                    <a href="/settings/dashboards/@item.Uid">@item.Name</a>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.Dashboard" ColumnName="Enabled" Width="10rem">
                <Header>@lblEnabled</Header>
                <Cell Context="item">
                    <FenrusSwitch Value="@item.Enabled" ValueChanged="(enabled) => Enable(item, enabled)"></FenrusSwitch>
                </Cell>
            </FenrusTableColumn>
            <FenrusTableColumn TItem="Models.Dashboard" ColumnName="Actions" Width="10rem">
                <Header></Header>
                <Cell Context="item">
                    <div class="actions">
                        <span title="@lblMoveUp" class="fa-solid fa-angle-up" @onclick="() => Move(item, true)"></span>
                        <span title="@lblMoveDown" class="fa-solid fa-angle-down" @onclick="() => Move(item, false)"></span>
                        <a title="@lblEdit" class="fa-solid fa-pen-to-square" href="/settings/dashboards/@item.Uid"></a>
                        <span title="@lblDelete" class="fa-solid fa-trash" @onclick="() => Remove(item)"></span>
                    </div>
                </Cell>
            </FenrusTableColumn>
        </Columns>
    </FenrusTable>
        
    </Body>
</FenrusPage>