@namespace Fenrus.Shared

<div class="logo">
    @{ 
        var imgSrc = "/favicon";
        if (string.IsNullOrWhiteSpace(App?.AccentColor) == false)
            imgSrc += "?color=" + App.AccentColor.Replace("#", string.Empty) + "&version=" + Globals.Version;
        else
            imgSrc += "?version=" + Globals.Version;
    }
    <img src="@imgSrc">
    <span class="title">Fenrus</span>
</div>
<ul>
    @foreach (var group in Menu)
    {
        <li class="group">
            @group.Name
        </li>
        foreach (var item in group.Items)
        {
            <li class="@(IsActive(item) ? "active" : "")">
                <a href="@item.Link">
                    <span class="icon">
                        <i class="@item.Icon"></i>
                    </span>
                    <span>@item.Name</span>
                </a>
            </li>
        }
    }
    <li class="@(IsActive("/settings/about") ? "active" :"")">
        <a href="/settings/about">
            <span class="icon">
                <i class="icon-fenrus" />
            </span>
            <span>@lblAbout</span>
        </a> 
    </li>
</ul>

<div class="version-info">
    @lblVersion
</div>