<nav class="settings-menu">
    <div class="logo">
        <img src="/favicon.svg?version=<%= version %>">
        <span class="title">Fenrus</span>
    </div>
    <ul>
        <li class="group">
            General
        </li>
        <li>
           <a href="/">
                <span class="fa-solid fa-house"></span>
               <span class="title">Home</span>
            </a>
        </li>
        <li <%= pageUrl == '/settings' ? 'class=active' : '' %>>
           <a href="/settings">
                <span class="fa-solid fa-sliders"></span>
               <span class="title">General</span>
            </a>
        </li>
        <li class="group">
            Dashboard
        </li>
        <li <%= /^\/settings\/dashboards(\/[a-z0-9\-]{36})?$/.test(pageUrl) ? 'class=active' : '' %>>
           <a href="/settings/dashboards">
                <span class="fa-solid fa-table-cells-large"></span>
               <span class="title">Dashboards</span>
            </a>
        </li>
        <li <%= /^\/settings\/groups(\/[a-z0-9\-]{36})?$/.test(pageUrl) ? 'class=active' : '' %>>
           <a href="/settings/groups">
                <span class="fa-solid fa-puzzle-piece"></span>
               <span class="title">Groups</span>
            </a>
        </li>
        <li <%= /^\/settings\/search-engines(\/[a-z0-9\-]{36})?$/.test(pageUrl) ? 'class=active' : '' %>>
           <a href="/settings/search-engines">
                <span class="fa-solid fa-magnifying-glass"></span>
               <span class="title">Search Engines</span>
            </a>
        </li>

        <% if(isAdmin) { %>
        <li class="group">
            Administrator
        </li>
        <li <%= pageUrl == '/settings/dashboards/Guest' ? 'class=active' : '' %>>
           <a href="/settings/dashboards/Guest">
                <span class="fa-solid fa-table-cells-large"></span>
               <span class="title">Guest Dashboard</span>
            </a>
        </li>        
        <li <%= /^\/settings\/system\/groups(\/[a-z0-9\-]{36})?$/.test(pageUrl) ? 'class=active' : '' %>>
           <a href="/settings/system/groups">
                <span class="fa-solid fa-puzzle-piece"></span>
               <span class="title">System Groups</span>
            </a>
        </li>
        <li <%= /^\/settings\/system\/search-engines(\/[a-z0-9\-]{36})?$/.test(pageUrl) ? 'class=active' : '' %>>
           <a href="/settings/system/search-engines">
                <span class="fa-solid fa-magnifying-glass"></span>
               <span class="title">System Search Engines</span>
            </a>
        </li>
        <li <%= pageUrl == '/settings/users' ? 'class=active' : '' %>>
           <a href="/settings/users">
                <span class="fa-solid fa-user-group"></span>
               <span class="title">Users</span>
            </a>
        </li>
        <li <%= pageUrl == '/settings/docker' ? 'class=active' : '' %>>
           <a href="/settings/system/docker">
                <span class="fa-brands fa-docker"></span>
               <span class="title">Docker</span>
            </a>
        </li>
        <% } %>
        <li <%= pageUrl == '/settings/about' ? 'class=active' : '' %>>
           <a href="/settings/about">
                <span class="icon-fenrus"></span>
                <span class="title">About</span>
            </a>
        </li>
    </ul>

    <div class="version-info">
        Version: <%= version %>
    </div>
</nav>